/* max-width: 694px
- 1.1.0  General CSS For every page              - 
- 1.2.0  Header Elements h1, ul, li              - 
- 1.3.0  Breadcrumb                              -
- 1.4.0  Footer                                  -
- 1.5.0  General Usage Form                      - 
- 1.5.1  Input Form                              -
- 1.5.2  Output Form                             - 
- 1.5.4  Create Job Form                         - 
- 1.6.0  Filter for Page Find Job                -
- 1.7.0  Sidebar for User Profile                -
- 1.7.1  Content for User Profile                -
- 1.7.2  User Profile Welcome Page               - 
- 1.7.3  User Info and Review from User Profile  -
- 1.7.4  Change Password Page                    -
- 1.8.0  View Old Job Info & Feedback            -
- 1.9.0  Index                                   -
- 1.10.0 View User                               - 

*/


@media only screen and (max-width: 694px) {

  /* 1.1.0 General CSS For every page */
  html {
    min-height: 480px;
  }

  body {
    font-family:Tahoma,sans-serif;  
    font-size: 14px;
    margin:auto;  
    max-width: 100%;
    height: 100%;
    padding-bottom: 2.5em;
  }

  header {
    padding-bottom: 0.5em;
    border-radius: 5px 5px 0 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed; 
    display: block;
    min-height: fit-content;
  }
  
  main { 
    padding-top: 2em;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  footer#footer {
    position: absolute;
    bottom: 92%;
    bottom: unset;
    height: 8%;
    top: 0;
  }

  footer#footer img#smallLogo{
    display: none ;
  }

  footer#footer p{
    position: absolute;
    display: block;
  }
  
  
  /* 1.2.0 Header Elements h1, ul, li */
  header img#Logo {
    display: none; 
  }
  
  header ul li {
    display:inline-block;
    width: 24%;
    padding: 0;
    margin: 0;
  }

  header ul li a {
    text-decoration: none;
    font-size: 0.675em; 
    text-align: center;
    display: block
  }

  header ul li span {
    font-size: 0.675em; 
    text-align: center;
    display: block;
    margin-bottom: 1em;
  }

  header img.icons{
    padding: 0px;
    width:32px;
    height:32px;
    display:block;
    margin: auto; 
  }

  header img#profilepic{
    width: 28px;
    height: 28px;  
    padding: 1px;
    margin: auto;
  }

  /* 1.3.0 Breadcrumb */
  nav.breadcrumb{
    position: absolute;
    left: 0;
    top: 8%;
    height: 4%;
    width: 100%;
    border: 0px;
    border-bottom: 2px solid;
    font-size: 1em;
  }

  /* 1.5.1 Login */
  main#Login {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 3em;
  }

  form#login {
    margin-top: 30%;
    width: 60%;
  } 
  
  form#login fieldset label {
    margin-left: 20%;
  }

  /* 1.5.2 Sign Up Input Form */ 
  form#SignUp {
    margin-top: 25%;
    margin-bottom: 25%;
    width: 80%;
  }

  /* 1.5.4  Create Job Form */
  form#createJob {
    width: 80%;
    padding: 1em;
  }
  
  form#createJob fieldset{
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: 
    " Intro     Intro     "
    " labTitle  labTitle  "
    " Title     Title     "
    " labType   labType   "
    " Type      Type      "   
    " labExp    labExp    "
    " Exp       Exp       "
    " Pay       Pay       "
    " labMin    labMin    "
    " Min       Min       "
    " labMax    labMax    "
    " Max       Max       "
    " labDesc   labDesc   "
    " Desc      Desc      "
    " TagD      TagD      "
    " labSearch labSearch "
    " Search    Search    "
    " Help      Help      "
    " List      List      "
    " Select    Select    "
    " Select    Select    "
    " Submit    Submit    ";
  }

  /* 1.6.0 Filter for Page Find Job */
  main#findJob {
    padding-top: 6em;
    margin-bottom: 4.5em;
    display: -ms-flexbox;
    flex-direction: column;
  }

  form#formFilter {
    display: block;
    position: inherit;
    width: 90%;
    margin: auto;
  }
  
  form#formFilter fieldset{
    display: -ms-grid;
    display: grid;
    row-gap: 0.8em;
    column-gap: 1em;
    grid-template-areas: 
    " labType   labPay    labDate   "
    " Type      MinPay    Date      "
    " Pay       Pay       Pay       "
    " TagModule TagModule TagModule "
    " TagModule TagModule TagModule "
    " .         .         Submit    ";
  }

  form#formFilter #labelType, 
  form#formFilter #labelPay, 
  form#formFilter #labelDate {
    margin: auto;
  }

  form#formFilter #Tipology, 
  form#formFilter #Date {
    max-width: 30%;
  }

  form#formFilter legend {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1 / span 3;
    -ms-grid-column-span: 3;
  }
  
  form#formFilter #labelType {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: labType;
  }
  
  form#formFilter #Tipology {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: Type;
  }
  
  form#formFilter div#Pay {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    grid-area: Pay;
  }
  
  form#formFilter #labelPay {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
    margin-left: 0.5em;
    grid-area: labPay;
  }
  
  form#formFilter #PayMin {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: MinPay;
  }
  
  form#formFilter #labelDate {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
    grid-area: labDate;
  }
  
  form#formFilter #Date {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    grid-column: 3;
    grid-area: Date;
  }
  
  form#formFilter div#TagModule {
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4 / span 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    grid-area: TagModule;
  }
  
  form#formFilter #submit {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 2;
    grid-column: 2 / span 2;
    -ms-grid-column-span: 2;   
    grid-area: Submit;
  }

  div#jobList{
    width: 90%;
    margin: auto;
  }  

  /* 1.7.0 Sidebar for User Profile */
  main#userProfile {  
    width: 95%;
    margin-bottom: 12%;
    position:unset;
    transition: background-color 0.5s ease-in-out;
  }

  div#sidebar {
    position: absolute;
    width: 25%;
    top: 0;
    height: 100%;
    left: -32%;
    /* for sidebar to stay on top */
    z-index: 1;
    transition: left 0.5s ease-in-out;
  }

  #sidebar a {
    display: block;
    color: white;
    text-decoration: none;
  }

  #sidebar span.sidebarText{
    font-size: 0.7em;
  }

  #sidebar img.icons{
    width: 24px;
    height: 24px;
  }

  #hideSidebar:checked ~ #sidebar {
    left: 0;
  }
  
  #hideSidebar:checked ~ #UserProfile {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  
  label#labelHideSidebar,
  input#hideSidebar,
  #sidebar label#exitSidebar  {
    display: block;

  }

  label#labelHideSidebar {
    width: fit-content;
    padding: 1em;
    border-radius: 0 10px 10px 0;
    background-color: #00679e;
    background-color: var(--color);
  }

  #sidebar label#exitSidebar {
    margin-left: 75%;
    margin-top: 1em;  
  }
  
  /* 1.7.1 Content for User Profile */
  div#content {
    margin: auto;
  }

  div#content div{
    margin: auto;
  }

  div#content div.chapter {
    width: 80%;
    margin: auto;
  }

  /* 1.7.2 User Profile Welcome Page */
  .welcome {
    text-align: center;
  }
  
  /* 1.7.3 User Info and Review from User Profile */
  div#userinfo,
  div#feedbacks {
    width: 100%;
    margin: auto;
  }

  div#userInfo {
    width: 90%;
    padding-top: 2em;
  }

  div#feedbacks div.review {
    margin: auto;
    width: 80%;
  }

  div#feedbacks h3 {
    text-align: center;
  }

  main img#icon {
    width:48px;
    height:48px;
  }

  /* - 1.7.5 User Profile Setting Page - */
  form#settings {
    width: 100%;
    margin-bottom: 2em;
  }

  form#settings fieldset{
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: 
    " Intro     Intro   Intro "
    " LabUser   User    User  "
    " LabName   Name    Name  "
    " LabSur    Sur     Sur   "
    " LabBirth  Birth   Birth "
    " LabNat    Nat     Nat   "
    " LabCity   City    City  " 
    " Pfp       Pfp     Pfp   "
    " Pfp       Pfp     Pfp   "
    " LabMail   Mail    Mail  "
    " LabTel    Tel     Tel   "
    " LabAdd    Add     Add   "
    " LabCurr   Curr    Curr  "
    " LabDesc   Desc    Desc  "
    " Submit    Submit  Submit";
    row-gap: 1em;
    
  }

  form#settings fieldset div#ProfilePic {
    margin-left: 0%;
  }

  /* - 1.7.6 Change Password Page - */
  form#changePsw {
    width: 70%;
  }

  /* - 1.08.0 View Old Job Info & Feedback - */
  div#JobInfo {
    width: 90%;
  }

  div#feedback {
    width : 90%;
  }

  form#AddFeedback {
    width: 90%;
  }

  form#addBid {
    width: 90%;
  }

  form#banUser {
    width: 90%;
  }

  /* - 1.08.1 View Offer - */
  div#bids {
    width: 90%;
  }
  
  /* - 1.09.0 Index - */
  main#Home {
    margin-top: 10%;
    padding-top: 4em;
    grid-template-columns: 1fr;
    -ms-grid-columns:1fr;
    grid-template-areas:
        " Intro "
        " img1  "
        " img1  "
        " Acc   "
        " Func  "  
        " img2  "
        " img2  "
        " Prof  "
        " Pop   ";
    margin-bottom: 5%;
  }

  main#Home * {
    max-width: 100%;
  }
  
  div#Intro {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }

  img#firstImg {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  
  div#Account {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  
  img#secondImg {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 5 / span 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  
  div#Function {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  
  div#UserProf {
    -ms-grid-row: 8;
    grid-row: 8;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  
  div#popularJobs {
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
    grid-row: 9 / span 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }

  ul#popularJobsList {
    display: flex;
    flex-direction: column;
  }

  /* - 1.10.0 View User - */
  main#viewUser {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    padding-top: 3em;
    margin-bottom: 5%;
    padding-bottom: 3em;
  }

  div#viewUserInfo,
  div#viewUserFeedBack {
    width: 70%;
    padding-top: 2em;
    margin-top: 2em;
  }



}


