/* max-width: 694px
- 1.1.0  General CSS For every page              - 
- 1.2.0  Header Elements h1, ul, li              - 
- 1.3.0  Breadcrumb                              -
- 1.4.0  Footer                                  -
- 1.5.0  General Usage Form                      - 
- 1.5.1  Input Form                              -
- 1.5.2  Output Form                             - 
- 1.5.4  Create Job Form                         - 
- 1.6.0  Filter for Page Find Job                -
- 1.7.0  Sidebar for User Profile                -
- 1.7.1  Content for User Profile                -
- 1.7.2  User Profile Welcome Page               - 
- 1.7.3  User Info and Review from User Profile  -
- 1.7.4  Change Password Page                    -
- 1.8.0  View Old Job Info & Feedback            -
- 1.9.0  Index                                   -
- 1.10.0 View User                               - 

*/


@media only screen and (max-width: 694px) {

  /* 1.1.0 General CSS For every page */
  html {
    min-height: 480px;
  }

  body {
    font-family:Tahoma,sans-serif;  
    font-size: 0.875em;
    margin:auto; 
    width: 100%; 
    max-width: 100%;
    height: 100%;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
  }

  header {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 5px 5px 0 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed; 
    display: block;
    height: 5vh;
    height: fit-content;
    min-height: 5vh;
    z-index : 1
  }
  
  main { 
    margin-top: 12%;
    padding-top: 12%;
  }

  footer#footer {
    position: absolute;
    bottom: 92%;
    bottom: unset;
    height: 8%;
    top: 0;
  }

  footer#footer img#smallLogo{
    display: none ;
  }

  footer#footer p{
    position: absolute;
    display: block;
  }
  
  
  /* 1.2.0 Header Elements h1, ul, li */
  header img#Logo {
    display: none; 
  }
  
  header ul li {
    display:inline-block;
    width: 24%;
    padding: 0;
    margin: 0;
  }

  header ul li a,
  header ul li span {
    font-size: 0.95em;
    text-align: center;
    display: block
  }

  header ul li a {
    text-decoration: underline;
  }

  header ul li span {
    margin-bottom: 1em;
  }

  header img.icons{
    padding: 0px;
    width: 1.75em;
    height: 1.75em;
    display:block;
    margin: auto; 
  }

  header img#profilepic{
    width: 1.75em;
    height: 1.75em;  
    padding: 0px;
    margin: auto;
  }

  /* 1.3.0 Breadcrumb */
  nav.breadcrumb{
    position: absolute;
    left: 0;
    top: 8%;
    height: 5%;
    width: 100%;
    border: 0px;
    border-bottom: 2px solid;
    font-size: 1em;
    padding-bottom: 0.5em;
  }

  /* 1.5.1 Login */
  main#Login {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 3em;
  }

  form#login {
    width: 60%;
  } 
  
  form#login fieldset label {
    margin-left: 20%;
  }

  /* 1.5.2 Sign Up Input Form */ 
  form#SignUp {
    margin-bottom: 25%;
    width: 80%;
  }

  /* 1.5.4  Create Job Form */
  form#createJob {
    width: 92%;
    padding: 1em;
  }
  
  form#createJob fieldset{
    grid-template-columns: 1fr 1fr ;
  }
    
  form#createJob fieldset p#intro {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  form#createJob fieldset label#labelTitle {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  form#createJob fieldset input#Title {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  form#createJob fieldset label#labelType {
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  form#createJob fieldset select#Tipology {
    grid-column: 1 / span 2;
    grid-row: 5;
  }

  form#createJob fieldset label#labelExpiring {
    grid-column: 1 / span 2;
    grid-row: 6;
  }

  form#createJob fieldset select#Expiring {
    grid-column: 1 / span 2;
    grid-row: 7;
  }

  form#createJob fieldset div#Pay {
    grid-column: 1 / span 2;
    grid-row: 8;
  }

  form#createJob fieldset label#labelMin {
    grid-column: 1 / span 2;
    grid-row: 9;
  }

  form#createJob fieldset input#MinPay {
    grid-column: 1 / span 2;
    grid-row: 10;
  }

  form#createJob fieldset label#labelMax {
    grid-column: 1 / span 2;
    grid-row: 11;
  }

  form#createJob fieldset input#MaxPay {
    grid-column: 1 / span 2;
    grid-row: 12;
  }

  form#createJob fieldset label#labelDesc {
    grid-column: 1 / span 2;
    grid-row: 13;
  }

  form#createJob fieldset textarea#Desc {
    grid-column: 1 / span 2;
    grid-row: 14;
  }

  form#createJob fieldset p#TagDescription{
    grid-column: 1 / span 2;
    grid-row: 15;
  }

  form#createJob fieldset div#searchTagField {
    grid-column: 1 / span 2;
    grid-row: 16;
  }

  form#createJob fieldset input#searchTag {
    grid-column: 1 / span 2;
    grid-row: 17;
  }

  form#createJob fieldset label#helpLabelsearchTag {
    grid-column: 1 / span 2;
    grid-row: 18;
  }

  form#createJob fieldset div#tagsList {
    grid-column: 1 / span 2;
    grid-row: 19;
  }

  form#createJob fieldset div#selectedTagsList {
    grid-column: 1 / span 2;
    grid-row: 20 / span 2;
  }

  form#createJob fieldset button#Create{
    grid-column: 1 / span 2;
    grid-row: 22;
    width: 40%;
    margin: auto;
  }

  /* 1.6.0 Filter for Page Find Job */
  main#findJob {
    padding-top: 6em;
    margin-bottom: 4.5em;
    flex-direction: column;
  }

  form#formFilter {
    display: block;
    position: inherit;
    width: 90%;
    margin: auto;
  }
  
  form#formFilter fieldset{
    display: grid;
    row-gap: 0.8em;
    column-gap: 1em;
  }

  form#formFilter #labelType, 
  form#formFilter #labelPay, 
  form#formFilter #labelDate {
    margin: auto;
  }

  form#formFilter #Tipology, 
  form#formFilter #Date {
    max-width: 30%;
  }

  form#formFilter #labelType {
    grid-row: 1;
    grid-column: 1;
  }
  
  form#formFilter #Tipology {
    grid-row: 2;
    grid-column: 1;
  }
  
  form#formFilter div#Pay {
    grid-row: 3;
    grid-column: 1 / span 3;
  }
  
  form#formFilter #labelPay {
    grid-row: 1;
    grid-column: 2;
    margin-left: 0.5em;
  }
  
  form#formFilter #PayMin {
    grid-row: 2;
    grid-column: 2;
  }
  
  form#formFilter #labelDate {
    grid-row: 1;
    grid-column: 3;
  }
  
  form#formFilter #Date {
    grid-row: 2;
    grid-column: 3;
  }
  
  form#formFilter div#TagModule {
    grid-row: 4 / span 3;
    grid-column: 1 / span 3;
  }
  
  form#formFilter #submit {
    grid-row: 7;
    grid-column: 2;
    width: 100%;   
  }

  ul#jobList{
    width: 100%;
    padding: 0;
    margin: auto;
  }  

  ul#pages{
    padding: 0;
  }

  /* 1.7.0 Sidebar for User Profile */
  main#userProfile {  
    width: 95%;
    max-width: 95%;
    margin-top: 0%;
    padding: 0;
    margin-bottom: 12%;
  }

  #sidebarWithControl {
    padding-top: 25%;
  }

  div#sidebar {
    margin-top: 22%;
    margin-bottom: 25%;
    position: absolute;
    display: none;
    right: 0;
    width: 25%;
    border-radius: 10px 0 0 10px;
    z-index: 1;
  }

  span#openSidebar {
    color: var(--background);
    vertical-align: super;
    font-size: 1.2em;
    text-decoration: underline;
  }

  #sidebar a {
    display: block;
    color: var(--content);
    text-decoration: none;
  }

  #sidebar span.sidebarText{
    font-size: 0.8em;
    text-decoration: underline;
  }

  #sidebar img.icons{
    width: 1.5em;
    height: 1.5em;
  }

  #hideSidebar:checked ~ #sidebar {
    display: block;
  }

  #hideSidebar:checked ~ #content {
    width: 80%;
  }
  
  #hideSidebar:checked ~ #UserProfile {
    background-color: var(--black)
  }
  
  label#labelHideSidebar,
  #sidebar label#exitSidebar  {
    display: block;
  }

  label#labelHideSidebar {
    position: fixed;
    top: 15%;
    width: fit-content;
    padding: 1em;
    padding-bottom: 0.5em;
    border-radius: 0 10px 10px 0;
    background-color: var(--color);
  }

  #sidebar label#exitSidebar {
    margin-left: 75%;
    margin-top: 1em;  
  }
  
  /* 1.7.1 Content for User Profile */
  div#content {
    margin: auto;
    margin-top: 30%;
  }

  div#content div{
    margin: auto;
  }

  div#content div.chapter {
    width: 80%;
    margin: auto;
    border-right: none;
  }

  /* 1.7.2 User Profile Welcome Page */
  .welcome {
    text-align: center;
  }
  
  /* 1.7.3 User Info and Review from User Profile */
  div#userinfo,
  div#feedbacks {
    width: 100%;
    margin: auto;
  }

  div#userInfo {
    width: 90%;
    padding-top: 2em;
  }

  div#feedbacks div.review {
    margin: auto;
    width: 80%;
  }

  div#feedbacks h3 {
    text-align: center;
  }

  main img#icon {
    width: 3em;
    height: 3em;
  }

  /* Table */
  table {
    line-break: anywhere;
  }

  /* TableJob.html */
  div#content th.jobLongTh{
    width: 30%;
  }

  div#content th.jobMidTh{
    width: 18%;
  }

  div#content th.jobShortTh{
    width: 14%;
  }

  /* TableJobWBid.html */
  div#content th.bidLongTh{
    width: 30%;
  }

  div#content th.bidMidTh{
    width: 25%;
  }

  div#content th.bidShortTh{
    width: 20%;
  }

  /* - 1.7.5 User Profile Setting Page - */
  form#settings {
    width: 100%;
    margin-bottom: 2em;
  }

  form#settings fieldset{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1em;
  }

  form#settings fieldset div#ProfilePic {
    margin-left: 0%;
  }
  
  form#settings #introduction {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  
  form#settings #labelUsername {
    grid-column: 1;
    grid-row: 2;
  }
  
  form#settings #Username {
    grid-column: 2 / span 2;
    grid-row: 2;
  } 
  
  form#settings #labelName {
    grid-column: 1;
    grid-row: 3;
  }
  
  form#settings #Name {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
  
  form#settings #labelSurname {
    grid-column: 1;
    grid-row: 4;
  }
  
  form#settings #Surname {
    grid-column: 2 / span 2;
    grid-row: 4;
  }

  form#settings #labelBirth {
    grid-column: 1;
    grid-row: 5;
  }
  
  form#settings #Birth {
    grid-column: 2 / span 2;
    grid-row: 5;
  }
  
  form#settings #labelNationality {
    grid-column: 1;
    grid-row: 6;
  }
  
  form#settings #Nationality {
    grid-column: 2 / span 2;
    grid-row: 6;
  }
  
  form#settings #labelCity {
    grid-column: 1;
    grid-row: 7;
  }
  
  form#settings #City{
    grid-column: 2 / span 2;
    grid-row: 7;
  }

  form#settings #ProfilePic {
    grid-column: 1 / span 3;
    grid-row: 8 / span 2;
  }
  
  form#settings #labelEmail {
    grid-column: 1;
    grid-row: 10;
  }
  
  form#settings #Email {
    grid-column: 2 / span 2;
    grid-row: 10;
  }
  
  form#settings #labelTel {
    grid-column: 1;
    grid-row: 11;
  }
  
  form#settings #Tel {
    grid-column: 2 / span 2;
    grid-row: 11;
  }
  
  form#settings #labelAddress {
    grid-column: 1;
    grid-row: 12;
  }
  
  form#settings #Address {
    grid-column: 2 / span 2;
    grid-row: 12;
  }
  
  form#settings #labelCurr {
    grid-column: 1;
    grid-row: 13;
  }
  
  form#settings #Curr{
    grid-column: 2 / span 2;
    grid-row: 13;
  }
  
  form#settings #labelDesc {
    grid-column: 1;
    grid-row: 14;
  }
  
  form#settings #Description {
    grid-column: 2 / span 2;
    grid-row: 14;
  }
  
  form#settings #submit {
    grid-column: 2;
    grid-row: 15;
    margin:auto;
    width: 100%;
  }

  /* - 1.7.6 Change Password Page - */
  form#changePsw {
    width: 70%;
  }

  /* - 1.08.0 View Old Job Info & Feedback - */
  div#JobInfo {
    width: 100%;
  }

  /* winnerwrapper */
  #winnerwrapper {
    width: 90%;
  }

  div#feedback {
    width : 100%;
    margin-bottom: 5%;
  }

  form#AddFeedback {
    width: 100%;
  }

  form#addBid {
    width: 100%;
  }

  form#banUser {
    width: 100%;
  }

  /* - 1.08.1 View Offer - */
  div#bids {
    width: 90%;
  }
  
  /* - 1.09.0 Index - */
  main#Home {
    margin-top: 18%;
    padding-top: 4em;
    grid-template-columns: 1fr;
    margin-bottom: 5%;
  }

  main#Home * {
    max-width: 100%;
  }

  main#Home img {
    margin: 1em;
  }
  
  div#Intro {
    grid-row: 1;
    grid-column: 1;
    border-bottom: 2px dashed;
    border-radius: 15px;
  }

  img#firstImg {
    grid-row: 2 / span 2;
    grid-column: 1;
  }
  
  div#Account {
    grid-row: 4;
    grid-column: 1;
    border: 2px dashed;
    border-radius: 15px;
  }
  
  img#secondImg {
    grid-row: 5 / span 2;
    grid-column: 1;
  }
  
  div#Function {
    grid-row: 7;
    grid-column: 1;
  }
  
  div#UserProf {
    grid-row: 8;
    grid-column: 1;
  }
  
  div#popularJobs {
    grid-row: 9 / span 2;
    grid-column: 1;
  }

  ul#popularJobsList {
    display: flex;
    flex-direction: column;
  }

  /* - 1.10.0 View User - */
  main#viewUser {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    padding-top: 3em;
    margin-bottom: 5%;
    padding-bottom: 3em;
  }

  div#viewUserInfo,
  div#viewUserFeedBack {
    width: 70%;
    padding-top: 2em;
    margin-top: 2em;
  }
}


