/* generali */
html {
  font-family: Georgia, 'Times New Roman', serif;
  width: 100%; 
  margin: 0; 
  float: none;
}

.hiddenHelp {
  display: none;
}

header, header > img {
  display: none;
}

ul#menu, ul#menu img{
  display: none;
}

nav.breadcrumb {
  display: none;
}

div#sidebar, div#sidebar img{
  display: none;
}

footer#footer, footer#footer img {
  display: none;
}

form {
  display: none;
}

/* user icon*/
main img#icon {
  width: 64px;
  height: 64px;
}

/* tables */
table {
  width: 100%;
}

/* HomePage */
img#firstImg,
img#secondImg {
  width: 50%;
  margin: auto;
}

h1#index {
  font-size: 1.2em;
}

/* tables */
table {
  margin-top: 10%;
  margin-bottom: 10%;
}

.goTop {
  display: none;
}
