/* 
- 1.0 General CSS For every page              - 
- 2.0 Header and Footer                       - 
- 2.1 Header Elements h1, ul, li              - 
- 3.0 Breadcrumb                              -
- 4.0 Footer                                  -
- 5.0 General Usage Form                      - 
- 5.1 Input Form                              -
- 5.2 Output Form                             - 
- 6.0 Filter for Page Find Job                -
- 7.0 Sidebar for User Profile                -
- 7.1 Content for User Profile                -
- 7.2 User Profile Welcome Page               - 
- 7.3 User Info and Review from User Profile  -
- 7.4 Change Password Page                    -
- 8.0 View Old Job Info & Feedback            -
- 9.0 Index                                   -
-10.0 View User                               -
*/


/* - 1.0 General CSS For every page - */
html {
  width: 100%;
}

body {
  font-family:Trebuchet MS,sans-serif;  
  margin:auto;  
  max-width: 100%; 
  overflow-x: hidden;
}

main {
  margin-bottom: 6%;  
}

/* - 2.0 Header and Footer - */
header {
  background-color: #9ee6be;
}

footer {
  background-color: #9ee6be;
  opacity: 0.5;
}

/* - 2.1 Header Elements h1, ul, li - */
header img#Logo {
  display: block;
  margin:auto;
  width: 240px;
  height: 135px;
}

header ul {
  margin:auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul li {
  display:inline-block;
  padding: 0.4em;
  margin-left: 1em;
}

header ul li.right {
  float:right;
  margin-right: 1em;
  margin-left: 0em;
}

header ul li a {
  color:black;
  text-decoration: none;
  margin-bottom: 0.2em;
}

header img.icons{
  width:24px;
  height:24px;
  padding-right :0.15em;
  vertical-align: text-bottom;
}

img#profilepic {
  width: 18px;
  height: 18px;
  padding : 0.2em;
  background-color: white;
  border : solid 1px black;
  vertical-align: text-bottom;
  margin-right: 0.3em;
}

/* - 3.0 Breadcrumb - */
nav.breadcrumb{
  padding: 0.3em;
  background-color:whitesmoke;
  border-width: 0em;
  border : solid 2px black;
}

/* - 4.0 Footer - */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 100%;
  text-align:center;
}

footer p {
  display: inline-block;
  font-size: small;
}

footer img#smallLogo{
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

/* Form per pagina Login, Sign In, Create Job, Find Job*/ 
/* - 5.0 General Usage Form - */
form {
  margin-top: 1em;
}

fieldset{
  background-color: white;
  border-radius: 5px;
}

legend {
  font-weight: bold;
  text-align: center;
}

textarea {
  border-radius: 5px;
  resize:vertical;
  width:70%;  
}

label {
  display: block;
}

input {
  border-radius: 5px;
  display: block;
  margin-bottom: 1em;
}

div#Desc {
  width: 80%;
}

/* - 5.1 Input Form - */ 
form.forInput {
  margin:auto;
  width:50%;
  padding-bottom: 3em;
}

/* - 5.2 Output Form - */ 
form.forOutput {
  margin:auto;
  width:60%;
  max-width: 80%;
}

form.forOutput p{
  font-family:Trebuchet MS,sans-serif;   
  word-break: break-word; 
}

/* - 6.0 Filter for Page Find Job - */
div.filter {
  display: inline-block;
  width:25%;
}

div.filter label.Title{
  display:block;
}

div.filter label{
  display: inline;
}

/* - 6.1 Find Job Content - */
div.jobList{
  display:inline-block;
}

/* - 7.0 Sidebar for User Profile - */
div#sidebar { 
  background-color: #32a866;
  position:absolute;
  margin-top : 0px;
  margin-bottom: 5%;
  padding: 0;
  width: fit-content;
  min-height : 85%;
  height: auto;
  overflow: auto;
}

#sidebar a {
  display: block;
  color: white;
  padding: 1em;
  text-decoration: none;
}

#sidebar img.icons{
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}

/* Icona Sidebar */
#sidebarIcon {
  display: block;
  padding : 1em;
  width: 16px;
  height: 16px;
}

/* - 7.1 Content for User Profile - */
div.column {
  float: left;
  width: 50%;
}

div#content {
  padding: 1em;
  margin-left: 15%;
}

div#content table {
  width:100%;
}

div#content th{
  text-align: left;
}

div#content table, th, td{
  padding: 0.2em;
  border-collapse: collapse;
  background-color: white;
}

/* - 7.2 User Profile Welcome Page - */
.welcome {
  text-align: center;
}

/* - 7.3 User Info and Review from User Profile */
div.flexUserInfo {
  display: grid;
  row-gap: 1em;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: 
  " b a ";
}

div#feedbacks {
  grid-area: a;
}

div#userinfo {
  grid-area: b;
}

div.headchapter {
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
  margin-right: 20%;
}

h2.chapter {
  display:inline;
}

div.review {
  margin: 3%;
}

main img#icon {
  width:32px;
  height:32px;
  float:left;
  padding-right:  3em;
}

/* review title
.review .title {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-right: 30%;
  margin-top :0;
  margin-bottom: 0;
  align-self: flex-start;
}*/

/* review date
.review .date {
 
}*/

/* review star
.review .star {
}*/

/* review comment
.review .comment {
  padding : 1em;
  background-color: white;
}*/


/* - 7.x Change Password Page - */
form#settings {
  margin-bottom: 2em;
}

div#changePsw {
  border-radius: 5px;
  border: 1px solid black;
  padding : 1em;  
}

div#changePsw a {
  padding: 1em;
}

/* - 8.0 View Old Job Info & Feedback - */
div#JobInfo {
  margin:auto;
  margin-top : 1em;
  width: 50%;
  border : 2px black solid;
  border-radius: 5px;

  display: grid;
  row-gap: 1.2em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  " t t "
  " a b "
  " c d "
  " e . "
  " f f ";
}

div#JobInfo p{
  padding-left: 1em;
  padding-right: 1em;
  margin: 0%;
}

div#JobInfo h1 {
  text-align: center;
  grid-area: t;
}

div#JobInfo .status {
  grid-area: a; 
}

div#JobInfo .type {
  grid-area: b; 
}

div#JobInfo .date {
  grid-area: c; 
}

div#JobInfo .expiration {
  grid-area: d; 
}

div#JobInfo .pay {
  grid-area: e; 
}

div#JobInfo .desc {
  grid-area: f; 
}

p#description{
  padding : 0.5em;
  word-break: break-all;
}

div#feedback {
  border-radius: 10px;
  border : 2px black solid;
  width : 50%;
  margin : auto;
  margin-top: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  " a b "
  " c c ";
}

div#feedback p {
  padding-left : 1.4em;
}

div#feedback .rating {
  grid-area: a;
}

div#feedback .date {
  grid-area: b;
}

div#feedback .comment {
  grid-area: c;
}

div#feedback p#feedbackDesc{
  background-color: aliceblue;
  margin: 1em;
}

input.radio {
  display:inline;
}

input.stars {
  display: inline;
}

/* - 9.0 Index - */
main.Home {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
}

h2.index {
  text-align:justify;
  padding-left : 2em;
  text-decoration: underline;
}

p.subIndex {
  text-align: justify;
  padding-left: 1.5em;
}

/* -10.0 View User - */
div#userInfo{
  margin:auto;
  width: 40%;
  padding-top: 1em;
}





/* BreakPoint aggiuntivi per Migliorare l'esperienza */

@media only screen and (max-width: 959px) {

  span.sidebarText{
  font-size: small;   
    display: block;
  }

}