/* 
- 0.0 Roots                                   -
- 1.0 General CSS For every page              - 
- 2.0 Header                                  - 
- 2.1 Header Elements h1, ul, li              - 
- 3.0 Breadcrumb                              -
- 4.0 Footer                                  -
- 5.0 General Usage Form                      - 
- 5.1 Login Input Form                        -
- 5.2 Sign Up Input Form Form                 - 
- 5.3 Change Password Form                    - 
- 5.4 Create Job Form                         - 
- 5.5 404 Page  	                            - 
- 6.0 Filter for Page Find Job                -
- 7.0 Sidebar for User Profile                -
- 7.1 Content for User Profile                -
- 7.2 User Profile Welcome Page               - 
- 7.3 User Info and Review from User Profile  -
- 7.4 Change Password Page                    -
- 7.5 User Profile Setting Page               -
- 8.0 View Job                                -
- 9.0 Index                                   -
-10.0 View User                               -
-11.0 Hidden Help                             -
-12.0 Admin                                   -
*/

/******************************
- 0.0 Roots - 
******************************/
:root {
  --background: #ECE5C7;
  --linksOnBlue: #F4E3AE;
  --links: #0000EE;
  --visitedLinks: #800080;
  --color: #004C75;
  --subcolor: #3A5782;
  --content: #fff;
  --black: #000;
  --darkWhite: #d1d9e6;
  --shadow: #999;
  --correct: #44c244;
  --correctBackground: #35AA35;
  --error: #d4110b;
  --errorBackground: #FD6868;
} 

/* - 1.0 General CSS For every page - */
html {
  width: 100%;
  background-color: var(--background);
}

html, body{
  min-height: 94vh;
}

body {
  background-color: var(--content);
  font-family:Tahoma, sans-serif;
  margin:auto;  
  padding-bottom: 3%;
  max-width: 1200px;
  overflow-x: hidden;
}

main {
  padding: 1em;
  margin-bottom: 1em;
}

.box {
  box-shadow: 0 0 10px var(--shadow);
  border: 3px solid var(--black);
}

a.goTop {
  display: block;
  width: 80%;
  margin: auto;
  text-align: end;
  padding-top: 1em;
}

.resultsucc, .resultfail{
  text-align: center;
  font-size: 1.2em;
  margin-left:5em;
  margin-right:5em;
  border-radius: 15px;
}

.resultsucc {
  background-color: var(--correctBackground);
}

.resultfail{
  background-color: var(--errorBackground)
}

.resultsucc a, .resultsucc a:visited,
.resultfail a, .resultfail a:visited {
  color: var(--black);
}

p {
  line-height: 1.5em;
}

a {
  color: var(--links)
}

a:visited {
  color: var(--visitedLinks)
}

/* - 2.0 Header - */
header {
  background-color: var(--color);
  display: flex;
  align-items: flex-end;
}

/* - 2.1 Header Elements h1, ul, li - */
header img#Logo {
  width: 20%;
}

header ul {
  margin:auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul li {
  display:inline-block;
  padding: 0.4em;
  margin-left: 1em;
}

header ul li a:link {
  margin-bottom: 0.2em;
  color: var(--content);
}

header ul li a:visited {
  margin-bottom: 0.2em;
  color: var(--linksOnBlue);
}

header ul li span {
  color: var(--linksOnBlue);
  margin-bottom: 0.2em;
}

header img.icons{
  width:1.5em;
  height:1.5em;
  padding-right :0.15em;
  vertical-align: text-bottom;
}

img#profilepic {
  width: 1.1em;
  height: 1.1em;
  padding : 0.2em;
  background-color: var(--content);
  border : solid 1px var(--black);
  vertical-align: text-bottom;
  margin-right: 0.3em;
}

/* - 3.0 Breadcrumb - */
nav.breadcrumb{
  font-size: 0.9375em; 
  padding: 0.3em;
  background-color:whitesmoke;
  border-width: 0em;
  border: solid 2px var(--black);
}

/* - 4.0 Footer - */
footer{
  position: fixed;
  bottom: 0;
  min-height: 5%;
  width: 100%;
  text-align:center;
  background-color: var(--color);
  max-width: 1200px;
  margin: auto;
  z-index:5;
}

footer#footer p {
  display: inline-block;
  font-size: 0.875em;
  color: var(--background);
}

footer#footer a:link {
  color: var(--content);
}

footer#footer a:visited {
  color: var(--linksOnBlue);
}

footer#footer img#smallLogo{
  vertical-align: middle;
  width: 1.5em;
}

/* Form per pagina Login, Sign In, Create Job, Find Job*/ 
/* - 5.0 General Usage Form - */
form {
  margin-top: 1em;
}

fieldset{
  box-shadow:0 0 10px var(--shadow);
  border: 2px solid var(--black);
}

legend {
  background-color: var(--color);
  color: var(--background);
  padding: 0.3em;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.2em;
}

textarea {
  border-radius: 5px;
  resize:vertical;
  width:70%;  
}

label {
  display: block;
  width: 100%;
  text-align: left;
  padding-bottom: 0.5em;
}

input {
  border-radius: 5px;
  display: block;
  margin-bottom: 0.5em;
}

button[type=submit],
input[type=submit]
{
  border-color: var(--black);
}

div#Desc {
  width: 80%;
}

.correct {
  color: var(--correct);
}

.error {
  color: var(--error);
}

/* - 5.1 Login Input Form - */
form#login {
  width: 25%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
} 

form#login fieldset {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

form#login fieldset label {
  margin-left: 20%;
  margin-top: 0.3em;
}

form#login fieldset button,
form#login fieldset input {
  width: 60%;
  margin:auto;
  margin-bottom: 1em;
}

form#login fieldset button {
  margin-top: 1em;
}

div#errorMessages {
  text-align: center;
}

div#error {
  text-align: center;
}

/* - 5.2 Sign Up Input Form - */ 
form#SignUp {
  position: inherit;
  margin: auto;
  margin-top: 1em;
  width: 50%;
  max-width: 80%;
}

form#SignUp input{
  margin-top: 0.5em;
}

img#newpfp {
  width: 4em;
  height: 4em;
}
  
/* - 5.3 Change Password Form - */
form#changePsw {
  padding: 1em;
  margin:auto;
  width:40%;
  margin-top: 2em;
  margin-bottom: 2em;
}

form#changePsw fieldset {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 5px;
}

/* - 5.4 Create Job Form - */
form#createJob {
  width: 70%;
  margin: auto;
  margin-top: 1em;
}

form#createJob fieldset{
  display: grid;
  row-gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 5em;
}

form#createJob * {
  padding-bottom: 0.2em;
}

form#createJob fieldset input,
form#createJob fieldset select {
  width: fit-content;
  max-height: 1.5em;
}

form#createJob fieldset textarea {
  width: fit-content;
}

form#createJob fieldset p#intro {
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: center;
}

form#createJob fieldset label#labelTitle {
  grid-column: 1;
  grid-row: 2;
}

form#createJob fieldset input#Title {
  grid-column: 3;
  grid-row: 2;
}

form#createJob fieldset label#labelType {
  grid-column: 1;
  grid-row: 3;
}

form#createJob fieldset select#Tipology {
  grid-column: 3;
  grid-row: 3;
  max-height: fit-content;
}

form#createJob fieldset label#labelExpiring {
  grid-column: 1 / span 2;
  grid-row: 4;
}

form#createJob fieldset select#Expiring {
  grid-column: 3;
  grid-row: 4;
  max-height: fit-content;
}

form#createJob fieldset div#Pay {
  grid-column: 1 / span 2;
  grid-row: 5;
}

form#createJob fieldset label#labelMin {
  grid-column: 1;
  grid-row: 6;
}

form#createJob fieldset input#MinPay {
  grid-column: 3;
  grid-row: 6;
}

form#createJob fieldset label#labelMax {
  grid-column: 1;
  grid-row: 7;
}

form#createJob fieldset input#MaxPay {
  grid-column: 3;
  grid-row: 7;
}

form#createJob fieldset label#labelDesc {
  grid-column: 1 / span 2;
  grid-row: 8;
}

form#createJob fieldset textarea#Desc {
  grid-column: 1 / span 3;
  grid-row: 9;
  resize: vertical;
  width: 80%;
  min-height: 6em;
}

form#createJob fieldset p#TagDescription{
  grid-column: 1 / span 3;
  grid-row: 10;
}

form#createJob fieldset div#searchTagField {
  grid-column: 1 / span 2;
  grid-row: 11;
}

form#createJob fieldset div#selectedTagsList {
  grid-column: 3;
  grid-row: 11 / span 2;
}

div#tagsList p,
div#selectedTagsList p {
  padding-left: 0.5em;
  margin-block-start: 0;
  margin-block-end: 0;
}

form#createJob fieldset div#tagsList {
  grid-column: 2;
  grid-row: 11 / span 2;
}

form#createJob fieldset button#Create {
  grid-column: 2;
  grid-row: 13;
  margin: 1em;
  padding: 0.5em;
}

/* - 5.4 Create Job Form - */
h1.title404{
  display:block;
  text-align: center;
  font-family: "Trebuchet MS";
  font-size: 4em;
  font-weight: bold;
  margin-top: 0.15em;
  margin-bottom: 0em;
}

img#image404{
  width: 80%;
  margin: auto;
  display: block;
}

div#choose{
  width: 80%;
  margin: auto;
  text-align: center;
}

div#choose p{
  text-align: center;
  font-size: 1.15em;
  border: 0px;
}

div#container404{
  display: inline-flex;
}

button.btn404{
  height: 10em;
  margin: 1em 0.2em 0em 0.2em;
  max-width: 12em;
  width: 22.5%;
  font-size: 1em;
  vertical-align: bottom;
}

/* - 6.0 Filter for Page Find Job - */
main#findJob {
  display: flex;
  align-items: flex-start;
}

main#findJob h1,  main#findJob h1 + p{
  text-align:center;
}

img#NoAvailableJob {
  width: 100%;
}

form#formFilter {
  min-width: 20%;
  margin-left: 1em;
  position: sticky;
  top: 0;
  width: 25%;
}

form#formFilter fieldset{
  min-width: 15em;
  display: grid;
  row-gap: 0.8em;
  gap: 0.8em;

}

form#formFilter legend {
  grid-row: 1;
  grid-column: 1 / span 2;
}

form#formFilter #labelType {
  margin-left: 0.5em;
  grid-row: 2;
  grid-column: 1;
}

form#formFilter #Tipology {
  width: 60%;
  min-width: fit-content;
  margin: auto;
  grid-row: 2;
  grid-column: 2;
}

form#formFilter div#Pay {
  grid-row: 3;
  grid-column: 1 / span 2;
}

form#formFilter #labelPayment {
  margin-left: 0.5em;
}

form#formFilter #labelPay {
  grid-row: 4;
  grid-column: 1;
  margin-left: 0.5em;
}

form#formFilter #PayMin {
  grid-row: 4;
  grid-column: 2;
  width: 60%;
  margin: auto;
}

form#formFilter #labelDate {
  grid-row: 5;
  grid-column: 1;
  margin-left: 0.5em;
}

form#formFilter #Date {
  grid-row: 5;
  grid-column: 2;
  width: 60%;
  min-width: fit-content;
  margin: auto;
}

form#formFilter #labelsearchTag {
  margin-left: 0.5em;
}

form#formFilter #searchTag {
  width: 80%;
  max-height: 1.5em;
}

form#formFilter div#TagModule {
  grid-row: 6 / span 3;
  grid-column: 1 / span 2;
}

form#formFilter #submit {
  width: 80%;
  margin: auto;
  grid-row: 10;
  grid-column: 1 / span 2;
}

h1.SelectedTags {
  font-size: 1.2em;
}

.btnTag{
  background: var(--content);
  border-radius: 5px;
  border: 2px solid var(--subcolor);
  margin-right: 0.3em;
  margin-top: 0.2em;
}

.btnTag:hover{
  background: var(--darkWhite);
}

/* - 6.1 Find Job Content - */
div#jobDiv {
  flex: 0.85;
  margin: auto;
}

li.job p{
  text-align: left;
}

li.job {
  position:relative;
  margin-bottom:2em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 0.5em;
  box-shadow: 1px 1px 10px;
  border: 2px solid var(--black);
  list-style:none;
}

li.job .jobTitle {
  grid-column: 1/ span 2;
  background-color: var(--linksOnBlue);
  padding-bottom: 1em;
  border-bottom: 2px solid;
}

li.job .title {
  padding: 0.5em;
  font-weight:bold;
  font-size:1.2em;
  color: var(--black);
}

li.job .title:hover{
  color: var(--links)
}

li.job .title:hover:visited{
  color: var(--visitedLinks)
}

li.job .title::after {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  content:' ';
}

li.job > div {
  padding: 0.3em;
}

div.jobDescription {
  grid-column: 1;
  grid-row: 2;
  border-right: 2px solid;
}

div.info {
  grid-column: 2;
  grid-row: 2;
}

div.info p {
  line-height: 1em;
}

li.job .description {
  white-space: pre-wrap; /* ie */
  white-space: break-spaces;
}

li.job .tags {
  grid-column: 1/ span 2;
  grid-row: 3;
  list-style-type: none;
  border-top: 2px solid;
  padding: 0.6em;
  padding-inline-start: 0px;
}

li.job .tags li {
  display: inline-block;
  padding-right: 0.2em;
  padding-left: 0.2em;
  z-index: 2;
  position:relative;
}

ul#pages {
  display: flex;
  justify-content: center;
}

ul#pages li {
  list-style-type:none;
  text-align:center;
  display:inline-block;
  border: 2px solid var(--black);
  border-radius: 3px;
  font-size:1.3em;
  color: var(--black);
  background-color: var(--darkWhite);
  padding: 0.1em 0.1em;
  margin: 0.1em;
  height: 1.5em;
  width: 1.5em;
}
	
ul#pages li a{
  border-color: var(--black);
  color: var(--black);
  background-color: var(--content);
  text-decoration:none;
  position:relative;
}

ul#pages li a::after{
  top:0;
  bottom:0;
  left:0;
  right:0;
}

/* - 7.0 Sidebar for User Profile - */
main#userProfile {  
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

section#sidebarWithControl {
  display: inline-block;
}

label#labelHideSidebar,
input#hideSidebar,
#sidebar label#exitSidebar {
  display: none;
}

div#sidebar { 
  background-color: var(--subcolor);
  width: fit-content;
}

div#sidebar ul {
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  padding-inline-start: 0px;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

div#sidebar ul li{
  list-style-type: none;
}

#sidebar a {
  display: block;
  padding: 1em;
}

#sidebar a:link,
#sidebar a:link span{
  color: var(--content);
}

#sidebar a:visited,
#sidebar a:visited span{
  color: var(--linksOnBlue);
}

#sidebar span {
  color: var(--content);
}

#sidebar .selected {
  background-color: var(--color);
  padding: 1em;
}

#sidebar img.icons{
  width: 1.5em;
  height: 1.5em;
  vertical-align: text-bottom;
}

/* Icona Sidebar */
#sidebarIcon {
  display: block;
  padding : 1em;
  width: 1em;
  height: 1em;
}

a#AdminArea {
  text-align: center;
  display: block;
  font-size: 1.2em;
}

/* - 7.1 Content for User Profile - */
div#content {
  padding: 1em;
  width: 100%;
}

div#NoUser,
div#NoJob {
  margin: auto;
  text-align: center;
}

div#content div,
div#content table {
  vertical-align: top;
}

/* This 2 elements are used on view pages too */
div#intro,
div#introTags {
  width: 80%;
  margin: auto;
  padding-bottom: 0.2em;
  border-bottom: 2px solid var(--color);
}

div#intro p,
div#introTags {
  text-align: center;
  font-size: 1.2em;
}

div#content table {
  width: 100%;
  margin-bottom: 2em;
}

div#content table caption.description{
  padding: 1em;
  text-align: center;
}

div#content table thead{
  background-color: var(--color);
  color: var(--background);
}

div#content th{
  text-align: left;
}

/* TableJob.html */
div#content th.jobLongTh{
  width: 35%;
}

div#content th.jobMidTh{
  width: 25%;
}

div#content th.jobShortTg{
  width: 15%;
}

/* TableJobWBid.html */
div#content th.bidLongTh{
  width: 40%;
}

div#content th.bidMidTh{
  width: 35%;
}

div#content th.bidShortTh{
  width: 25%;
}

div#content table, 
div#content th, 
div#content td {
  padding: 0.8em;
  border-collapse: collapse;
  border: 1px solid var(--black);
}

div#content p.tableEmpty {
  text-align: center;
  padding-bottom: 1.5em;
}

div#content p + table {
  padding: 1em;
}

/* - 7.2 User Profile Welcome Page - */
.welcome {
  text-align: center;
}

/* - 7.3 User Info and Review from User Profile */
div#userinfo,
div#feedbacks {
  display: inline-block;
  padding-top: 1em;
}

div#feedbacks {
  width: 43%;
  padding-left: 3em;
}

div#feedbacks h1.noReviews {
  font-size: 1.5em;
}

div#userinfo {
  width: 50%;
}

div.headchapter {
  width: 80%;
  padding-bottom: 2em;
  border-bottom: 2px solid var(--color);
  margin-right: 20%;
}

main#viewUser div.headchapter {
  width: 100%;
  padding-bottom: 2em;
  border-bottom: 2px solid var(--color);
}

div#userinfo div.chapter{
  border-right: 2px dashed var(--color);
}

h1.chapter {
  display:inline;
  font-size: 1.5em;
}

div.review {
  margin: 3%;
  display: flex;
  flex-direction: column;
}

h2.reviewTitle {
  font-size: 1.1em;
}

main img#icon {
  width:3.75em;
  height:3.75em;
  float:left;
  padding-right: 1.5em;
}

img.icons {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  padding: 0.2em;
}

div.bid img.icons {
  width: 8em;
  height: 8em;
  vertical-align: middle;
}

div.bidData {
  display: inline-block;
  margin-left: 5%;
  vertical-align: middle;
}

div.bidData p{
  white-space:break-spaces;
}

.review .star,
.review .date {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

.review .comment {
  width: 60%;
  padding: 0.5em;
  border-bottom: 1px solid;
}

/* - 7.5 User Profile Setting Page - */
form#settings,
form#changeTags {
  width: 100%;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}

form#settings fieldset {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  row-gap: 1em;
  width: fit-content;
}

form#settings fieldset *,
form#changeTags fieldset *,
form#changePsw fieldset *{
  margin: 0.3em;
}

form#settings fieldset input,
form#settings fieldset textarea{
  margin-left: 10%;
  margin-right: 10%;
  width: 70%;
}

form#settings legend {
  grid-column: 1;
  grid-row: 1 / span 4;
  margin: 0%;
}

form#settings #introduction {
  grid-column: 1 / span 4 ;
  grid-row: 1;

}

form#settings #labelUsername {
  grid-column: 1;
  grid-row: 3;
}

form#settings #Username {
  grid-column: 2;
  grid-row: 3;
}

form#settings #ProfilePic {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

form#settings #labelName {
  grid-column: 1;
  grid-row: 4;
}

form#settings #Name {
  grid-column: 2;
  grid-row: 4;
}

form#settings #labelSurname {
  grid-column: 1;
  grid-row: 5;
}

form#settings fieldset input[type=text] {
  height: fit-content;
}

form#settings img#yourProfilePic {
  width: 3.75em;
  height: 3.75em;
}

form#settings #Surname {
  grid-column: 2;
  grid-row: 5;
}

form#settings #labelEmail {
  grid-column: 3;
  grid-row: 5;
}

form#settings #Email {
  grid-column: 4;
  grid-row: 5;
}

form#settings #labelBirth {
  grid-column: 1;
  grid-row: 6;
}

form#settings #Birth {
  grid-column: 2;
  grid-row: 6;
}

form#settings #labelTel {
  grid-column: 3;
  grid-row: 6;
}

form#settings #Tel {
  grid-column: 4;
  grid-row: 6;
}

form#settings #labelNationality {
  grid-column: 1;
  grid-row: 7;
}

form#settings #Nationality {
  grid-column: 2;
  grid-row: 7;
}

form#settings #labelAddress {
  grid-column: 3;
  grid-row: 7;
}

form#settings #Address {
  grid-column: 4;
  grid-row: 7;
}

form#settings #labelCity {
  grid-column: 1;
  grid-row: 8;
}

form#settings #City{
  grid-column: 2;
  grid-row: 8;
}

form#settings #labelCurr {
  grid-column: 3;
  grid-row: 8;
}

form#settings #Curr{
  grid-column: 4;
  grid-row: 8;
}

form#settings #labelDesc {
  grid-column: 1;
  grid-row: 9;
}

form#settings #Description {
  grid-column: 2 / span 3;
  grid-row: 9;
}

form#settings #submit {
  grid-column: 2 / span 2;
  grid-row: 10;
  margin:auto;
  width: 50%;
}

div#errorList {
  text-align: center;
  width: fit-content;
  max-width: 80%;
  margin: auto;
}

div#errorList h1{
  font-size: 1.2em;
}

div#errorList p {
  padding: 0.2em;
}

form#changeTags fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.3em;
}

form#changeTags fieldset p{
  width: 100%;
}

/* - 8.0 View Job Info & Feedback - */
div#JobInfo {
  margin:auto;
  margin-top : 1em;
  width: 80%;
  overflow:hidden;
  border: 3px solid var(--black);
  border-radius: 30px;
  display: grid;
  row-gap: 1.2em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

div#JobInfo p,
div#JobInfo a{
  padding-left: 1em;
  padding-bottom: 1em;
  margin: 0%;
}

div#JobInfo #JobInfoTitle  {
  background-color: var(--color);
  margin-top: 0%;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
  grid-column: 1 / span4;
  grid-row: 1;
}

#JobInfoTitle h1 {
  color: var(--background);
  margin-block-start: auto;
  margin-block-end: auto;
  padding: 0.5em;
  font-size: 1.75em;
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

div#JobInfo span {
  font-style: italic;
  padding-right: 0.3em;
  font-weight: bold;
}

div#JobInfo #status {
  color: var(--linksOnBlue);
  padding: 0.1em;
  margin-right: 1em;
  border: 1px solid var(--linksOnBlue);
  border-radius: 5px;
  font-size: 1.5em;
  width: min-content;
  float: right;
}

div#JobInfo #type {
  color: var(--linksOnBlue);
  padding: 0.1em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid var(--linksOnBlue);
  border-radius: 5px;
  font-size: 1.5em;
  width: min-content;
  float: right;
}

div#JobInfo #date {
  grid-column: 4;
  grid-row: 5;
}

div#JobInfo #expiration {
  grid-column: 4;
  grid-row: 6;
}

div#JobInfo #pay {
  grid-column: 4;
  grid-row: 2;
  font-size: 1.3em;
}

input#Pay1,
input#Pay2,
#labelPay1,
#labelPay2{
  display: inline-block;
  width: fit-content;
}

div#JobInfo #desc {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
}

/* winner e creator per oldJob, cancel e terminate per Offer */
div#JobInfo #cancel {
  grid-column: 1;
  grid-row: 7; 
}

div#JobInfo #terminate {
  grid-column: 2;
  grid-row: 7; 
}

div#JobInfo #tags {
  grid-column: 1 / span 3;
  grid-row: 5;
}

div#JobInfo #tags ul{
  list-style-type: none;
}

div#JobInfo #tags ul li{
  display: inline-block;
}

div#JobInfo #creator,
div#JobInfo #offerCreator {
  grid-column: 1 / span 3;
  grid-row: 6;
}

div#JobInfo #creator a,
div#JobInfo #offerCreator a{
  color: var(--links);
  padding: 0;
}

div#JobInfo #creator a:visited,
div#JobInfo #offerCreator a:visited{
  color: var(--visitedLinks);
}


p#description{
  white-space: pre-wrap; /* ie */
  white-space: break-spaces;
}

div#JobInfo p#description{
  padding : 0.5em;
  word-break: break-all;
  border: 3px solid var(--black);
  border-radius: 0 0 5px 0;
  margin-right: 1em;
  margin-left: 1em;
  text-align: left;
  min-height: 10em;
  background-color: var(--background);
}

span#description{
  white-space: pre-wrap; /* ie */
  white-space: break-spaces;
}

div#feedback {
  border-radius: 0 0 10px 10px;
  border-top: 3px solid;
  margin : auto;
}

div#feedback p {
  padding-left : 1.4em;
}

div#feedback h1 {
  padding-left: 2em;
  font-size: 1.2em;
}

div#feedback .reviewUser,
div#feedback .rating,
div#feedback .date
{
  padding-top: 0.2em;
  display: inline-block;
  margin-block-start: auto;
  margin-block-end: auto;
}

div#feedback span {
  font-style: italic;
  padding-right: 0.3em;
}

div#feedback .reviewUser {
  background-color: var(--color);
  color: var(--background);
  padding-right: 1.5em;
  padding-bottom: 0.2em;
  border-radius: 0 0 10px 0;
}

div#feedback .rating {
  margin-right: 10%;
}

div#feedback .date {
  margin-right: 10%;
}

div#feedback p#feedbackDesc{
  margin: 1em;
}

form#AddFeedback {
  margin: auto;
  margin-top: 1em;
  width: 100%;
}

form#AddFeedback fieldset {
  border: none;
  border-top: 3px solid;
}

form#AddFeedback button {
  display: block;
}

label.labelStar {
  display: inline-block;
  width: fit-content;
}

input.radio {
  display:inline;
}

input.stars {
  display: inline;
}

#ChooseWinner {
  padding-top: 1em;
  width: 60%;
  margin: auto;
}

#ChooseWinner input[type=radio] {
  display: inline-block;
}

/* Informations on the Winner */
#winnerwrapper {
  width: 50%;
  margin: auto;
  border: 3px solid var(--black);
  border-radius: 15px;
  margin-top: 1em;
}

h2#winner {
  display: block;
  text-align: center;
  padding-bottom: 0.3em;
  border-bottom: 3px solid var(--black);
  font-size: 1.4em;
  background-color: var(--linksOnBlue);
  margin-block-start: 0;
  border-radius: 10px 10px 0 0;
}

#winnerPic {
  width: 4em;
  display: inline-block;
  margin-right: 1em;
  margin-left: 2em;
}

p#winnerInfos {
  display: inline-block;
}

/* - 8.1 View Offer - */
div#bids {
  width: 50%;
  margin: auto;
  margin-top: 1em;
  border-radius: 15px;
  border: 2px solid var(--black);
  box-shadow: 0 0 10px var(var(--shadow));
}

div#bids p.error{
  text-align:center;
}

div.bid {
  margin: 1em;
  border-bottom: 1px solid var(--subcolor);
  padding-bottom: 0.5em;
}

div.bid span {
  font-style: italic;
  padding-right: 0.3em;
}

a.deleteBid {
  border: 1px solid;
  border-radius: 5px;
  padding: 0.4em;
}

form#addBid {
  width: 70%;
  margin: auto;
  margin-top: 1em;
}

form#addBid button{
  display: block;
}

/* - 9.0 Index - */
main#Home {
  margin: auto;
  width: 90%;
  margin-bottom: 3%;
  display: grid;
  column-gap: 3em;
  grid-template-columns: 1fr 1fr;
}

main#Home img{
  align-self: center;
  width: 100%;
  border-radius: 15px;
}

img#firstImg {
  grid-row: 1 / span 2;
  grid-column: 2;
  margin-bottom: 1em;
  justify-self: center;
}

div#Intro, div#Account, div#Function, div#UserProf {
  border-color: #000;
  border-right: 2px dashed;
  border-left: 2px dashed;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
}

div#Intro {
  grid-row: 1;
  grid-column: 1;
  border-top: 2px dashed;
  border-radius: 15px 15px 0 0;
}

div#Account {
  grid-row: 2;
  grid-column: 1;
  border-bottom: 2px dashed;
  margin-bottom: 1em;
  border-radius: 0 0 15px 15px;
}

div#Function {
  grid-row: 3;
  grid-column: 2;
  border-top: 2px dashed;
  border-radius: 15px 15px 0 0;
}

div#UserProf {
  grid-row: 4;
  grid-column: 2;
  border-bottom: 2px dashed;
  border-radius: 0 0 15px 15px;
}

img#secondImg {
  grid-row: 3 / span 2;
  grid-column: 1;
  justify-self: center;
}

div#popularJobs {
  grid-row: 5;
  grid-column: 1 / span 2;
}

ul#popularJobsList {
  background-color: var(--subcolor);
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  border: 4px solid var(--linksOnBlue); 
  border-radius: 10px;
}

ul#popularJobsList li {
  list-style-type: none;
  text-align: center;
  width: 80%;
  margin: 1em;
  padding: 1em;
  background-color: var(--linksOnBlue);
  border-radius: 10px;
}

h1.index {
  text-align:left;
  padding-left : 0.5em;
  font-size: 1.375em;
  display: inline;
  vertical-align: middle;
}

h2.index {
  text-align:left;
  padding-left: 1.75em;
  font-size: 1em;
}

p.subIndex {
  text-align:left;
  padding-left: 1.5em;
  width: 90%;
  margin: 0%;
}

.faqIcons {
  padding: 0.3em;
  width: 3em;
  display: inline-block;
  vertical-align: middle;
}

/* -10.0 View User - */
main#viewUser {
  vertical-align: top;
  padding: 1em;
}

div#viewUserInfo,
div#viewUserFeedBack {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
}

div#viewUserInfo {
  width: 45%;
}

div#viewUserInfo span,
div#viewUserFeedBack span{
  font-style: italic;
  padding-right: 0.3em;
}

div#viewUserFeedBack {
  width: 35%;
}

main#viewUser h2{
  font-size: 1.2em;
}

/* form per ban utenti dell'Admin*/
form#AdminForm {
  width: 60%;
  margin: auto;
  padding: 1em;
  margin-bottom: 1em;
}

form#AdminForm button{
  display: block;
}

/* -11.0 Hidden Help - */
.hiddenHelp {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* -12.0 Admin - */
table.AdminTable {
  border: 1px solid var(--black);
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
}

table.AdminTable caption{
  padding-bottom: 1em;
}

table.AdminTable thead {
  background-color: var(--color);
  color: var(--linksOnBlue)
}

table.AdminTable th,
table.AdminTable td {
  text-align: start;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  border: 1px solid;
}

table.AdminTable .doubleCol {
  width: 50%;
}

input#search {
  width: 30%; 
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}


/* BreakPoint aggiuntivi per Migliorare l'esperienza */

@media only screen and (max-width: 959px) {
  body {
    font-size: 0.9em;
  }
  /* - 2.1 Header Elements h1, ul, li - */
  header img#Logo {
    display: block;
    width: 20%;
    height: 20%;  
  }

  /* - 4.0 Footer - */
  footer#footer {   
    min-height: fit-content;
	
  }

  /* - 5.1 Login Input Form - */
  form#login {
    width: 30%;
    margin-top: 3em;
  } 

  form#createJob {
    width: 80%;
  }
  

  /* - 6.0 Filter for Page Find Job - */  
  form#formFilter {
    margin-right: 4em;
  }

  form#formFilter #Tipology,
  form#formFilter #Date,
  form#formFilter #PayMin {
    margin:0%;
    
    max-width: 100%;
  }

  div#jobDiv {
    flex: 1;

  }
  
  /* - 7.0 Sidebar for User Profile - */
  span.sidebarText{
    font-size: 0.875em;   
    display: block;
  }

  /* User Info */
  main img#icon {
    width:3em;
    height:3em;
  }

  div#userinfo {
    padding-top: 1em;
    width: 100%;
  }

  div#userinfo div.chapter {
    border-right: 0px;
  }   

  div#feedbacks {
    padding-left: 0;
    padding-top: 1em;
    width: 100%;
  }

  div.review {
    margin: 0; 
  }

  /* temp userinfo */
  div#userInfo {
    padding-top: 1em;
  }
  
  div#userFeedback {
    width: 30%;
    padding-top: 1em;
  }

  /* winnerwrapper */
  #winnerwrapper {
    width: 70%;
  }

  a.goTop {
    width: 95%;
  }
  /* Home */
  div#Intro, div#Account, div#Function, div#UserProf, div#popularJobs {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  img#firstImg {
    grid-row: 1 / span 1;
  }
  
  div#Function {
    grid-row: 2;
  }
  
  div#UserProf {
    grid-row: 3;
  }
  
  img#secondImg {
    grid-row: 3 / span 1;
  }
  
  div#popularJobs {
    grid-row: 4;
  }
}