/* 
- 1.0 General CSS For every page              - 
- 2.0 Header                                  - 
- 2.1 Header Elements h1, ul, li              - 
- 3.0 Breadcrumb                              -
- 4.0 Footer                                  -
- 5.0 General Usage Form                      - 
- 5.1 Login Input Form                        -
- 5.2 Sign Up Input Form Form                 - 
- 5.3 Change Password Form                    - 
- 5.4 Create Job Form                         - 
- 5.5 404 Page  	                          - 
- 6.0 Filter for Page Find Job                -
- 7.0 Sidebar for User Profile                -
- 7.1 Content for User Profile                -
- 7.2 User Profile Welcome Page               - 
- 7.3 User Info and Review from User Profile  -
- 7.4 Change Password Page                    -
- 7.5 User Profile Setting Page               -
- 8.0 View Job                                -
- 9.0 Index                                   -
-10.0 View User                               -
-11.0 Hidden Help                             -
-12.0 Admin                                   -
*/
:root {
  --background: #ECE5C7;
  --color: #00679e;
  --subcolor: #4a6fa5;
  --content: #fff;
  --black: #000;
  --darkWhite: #d1d9e6;
  --shadow: #999;
  --correct: #44c244;
  --error: #d4110b;
}

/* - 1.0 General CSS For every page - */
html {
  width: 100%;
  background-color: var(--background);
}

html, body{
  min-height: 100vh;
}

body {
  background-color: var(--content);
  font-family:Tahoma, sans-serif;
  margin:auto;  
  max-width: 1024px;
  overflow-x: hidden;
}

main {
  padding: 0em;
  padding-bottom: 2.5em;
  margin-bottom: 3%;
}

.box {
  box-shadow:0 0 10px var(--shadow);
  border: 2px solid var(--black);
}

a.goTop {
  display: block;
  float: right;
  margin-right: 10%;
  margin-bottom: 15%;
}

.result {
  text-align: center;
  font-size: 1.2em;
}

/* - 2.0 Header - */
header {
  background-color: var(--color);
  display: flex;
  align-items: flex-end;
}

/* - 2.1 Header Elements h1, ul, li - */
header img#Logo {
  width: 20%;
}

header ul {
  margin:auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul li {
  display:inline-block;
  padding: 0.4em;
  margin-left: 1em;
}

header ul li a:link {
  margin-bottom: 0.2em;
  color: var(--content);
}

header ul li a:visited {
  margin-bottom: 0.2em;
  color: var(--background);
}

header ul li span {
  color: var(--background);
  margin-bottom: 0.2em;
}

header img.icons{
  width:24px;
  height:24px;
  padding-right :0.15em;
  vertical-align: text-bottom;
}

img#profilepic {
  width: 18px;
  height: 18px;
  padding : 0.2em;
  background-color: white;
  border : solid 1px var(--black);
  vertical-align: text-bottom;
  margin-right: 0.3em;
}

/* - 3.0 Breadcrumb - */
nav.breadcrumb{
  font-size: 0.9375em; 
  padding: 0.3em;
  background-color:whitesmoke;
  border-width: 0em;
  border : solid 2px var(--black);
}

/* - 4.0 Footer - */
footer{
  position: fixed;
  bottom: 0;
  min-height: 5%;
  width: 100%;
  text-align:center;
  background-color: var(--color);
  max-width: 1024px;
  margin: auto;
}

footer#footer p {
  display: inline-block;
  font-size: 0.875em;
  color: var(--background);
}

footer#footer a:link {
  color: var(--content);
}

footer#footer a:visited {
  color: var(--background);
}

footer#footer img#smallLogo{
  vertical-align: middle;
  width: 1.5em;
}

/* Form per pagina Login, Sign In, Create Job, Find Job*/ 
/* - 5.0 General Usage Form - */
form {
  margin-top: 1em;
}

fieldset{
  box-shadow:0 0 10px #999;
  border: 2px solid var(--black);
}

legend {
  background-color: var(--color);
  color: var(--background);
  padding: 0.3em;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

textarea {
  border-radius: 5px;
  resize:vertical;
  width:70%;  
}

label {
  display: block;
}

input {
  border-radius: 5px;
  display: block;
}

div#Desc {
  width: 80%;
}

p.correct {
  color: var(--correct);
}

p.error {
  color: var(--error);
}

/* - 5.1 Login Input Form - */
form#login {
  width: 25%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 2em;
} 

form#login fieldset {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

form#login fieldset label {
  margin-left: 20%;
  margin-top: 0.3em;
}

form#login fieldset button,
form#login fieldset input {
  width: 60%;
  margin:auto;
  margin-bottom: 1em;
}

form#login fieldset button {
  margin-top: 1em;
}

div#errorMessages {
  text-align: center;
}

div#error {
  text-align: center;
}

p.error {
  text-align: center;
}

/* - 5.2 Sign Up Input Form - */ 
form#SignUp {
  position: inherit;
  margin: auto;
  margin-top: 1em;
  width: 50%;
  max-width: 80%;
}

form#SignUp input{
  margin-top: 0.5em;
}

img#newpfp {
  width: 64px;
  height: 64px;
}
  
/* - 5.3 Change Password Form - */
form#changePsw {
  padding: 1em;
  margin:auto;
  width:40%;
  margin-top: 2em;
  margin-bottom: 2em;
}

form#changePsw fieldset {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 5px;
}

/* - 5.4 Create Job Form - */
form#createJob {
  width: 60%;
  margin: auto;
  margin-top: 1em;
}

form#createJob fieldset{
  display: grid;
  row-gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  " s s s "
  " a . b "
  " c . d "
  " j j k "
  " i i i "
  " e . f "
  " g . h "
  " l l . "
  " m m m "
  " u u u "
  " n t p "
  " o q p "
  " . z . ";
}

form#createJob fieldset input,
form#createJob fieldset select
{
  width: fit-content;
  max-height: 25px;
}

form#createJob fieldset textarea
{
  width: fit-content;
}


form#createJob fieldset label#labelTitle {
  grid-area: a;
}

form#createJob fieldset input#Title {
  grid-area: b;
}

form#createJob fieldset label#labelType {
  grid-area: c;
}

form#createJob fieldset select#Tipology {
  grid-area: d;
  max-height: fit-content;
}

form#createJob fieldset label#labelMin {
  grid-area: e;
}

form#createJob fieldset input#MinPay {
  grid-area: f;
}

form#createJob fieldset label#labelMax {
  grid-area: g;
}

form#createJob fieldset input#MaxPay {
  grid-area: h;
}

form#createJob fieldset div#Pay {
  grid-area: i;
}

form#createJob fieldset label#labelExpiring {
  grid-area: j;
}

form#createJob fieldset select#Expiring {
  grid-area: k;
  max-height: fit-content;
}

form#createJob fieldset label#labelDesc {
  grid-area: l;
}

form#createJob fieldset textarea#Desc {
  grid-area: m;
  resize: both;
}

form#createJob fieldset label#labelsearchTag {
  grid-area: n;
}

form#createJob fieldset input#searchTag {
  grid-area: o;
}

form#createJob fieldset div#selectedTagsList {
  grid-area: p;
}

div#selectedTagsList p{
  margin-block-start: 0;
}

form#createJob fieldset div#tagsList {
  grid-area: q;
}

form#createJob fieldset label#helpLabelsearchTag {
  grid-area: t;
}

form#createJob fieldset button#Create{
  grid-area: z;
}

form#createJob fieldset p#intro{
  grid-area: s;
}

form#createJob fieldset p#TagDescription{
  grid-area: u;
}

/* - 5.4 Create Job Form - */
h1.title404{
  display:block;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 4em;
  font-weight: bold;
  margin-top: 0.15em;
  margin-bottom: 0em;
}

img#image404{
  width: 80%;
  margin: auto;
  display: block;
}

div#choose{
  width: 80%;
  margin: auto;
  text-align: center;
}

div#choose p{
  text-align: center;
  font-size: 1.15em;
  border: 0px;
}

div.container404{
  display: inline-flex;
  float: center;
}

button.btn404{
  height: 10em;
  margin: 1em 0.2em 0em 0.2em;
  max-width: 12em;
  width: 22.5%;
  font-size: 1em;
  vertical-align: bottom;
}



/* - 6.0 Filter for Page Find Job - */
main#findJob {
  display: flex;
  align-items: flex-start;
}

img#NoAvailableJob {
  width: 100%;
}

form#formFilter {
  min-width: 30%;
  margin-left: 1em;
  position: sticky;
  top: 0;
  flex-basis: 35%;
}

form#formFilter fieldset{
  min-width: 15em;
  display: grid;
  row-gap: 0.8em;
  grid-template-areas: 
  " a b " 
  " j j "
  " c d "
  " e f "
  " s s "
  " s s "
  " s s "
  " g g ";
}

form#formFilter #labelType {
  margin-left: 0.5em;
  grid-area: a;
}

form#formFilter #Tipology {
  width: 60%;
  min-width: fit-content;
  margin: auto;
  grid-area: b;
}

form#formFilter #labelPay {
  margin-left: 0.5em;
  grid-area: c;
}

form#formFilter #PayMin {
  width: 60%;
  margin: auto;
  grid-area: d;
}

form#formFilter #labelDate {
  margin-left: 0.5em;
  grid-area: e;
}

form#formFilter #Date {
  width: 60%;
  min-width: fit-content;
  margin: auto;
  grid-area: f;
}

form#formFilter #labelsearchTag {
  margin-left: 0.5em;
}

form#formFilter #searchTag {
  width: 80%;
  max-height: 25px;
}
/*
form#formFilter div#tagsList {
}

form#formFilter div#selectedTagsList {
}
*/
form#formFilter div#TagModule {
  grid-area: s;
}

form#formFilter div#Pay {
  grid-area: j;
}

h1.SelectedTags {
  font-size: 1.2em;
}

.btnTag{
  background: var(--content);
  border-radius: 5px;
  border: 2px solid var(--subcolor);
  margin-right: 0.3em;
  margin-top: 0.2em;
}

.btnTag:hover{
  background: var(--darkWhite);
}

form#formFilter #submit {
  width: 80%;
  margin: auto; 
  grid-area: g;
}

/* - 6.1 Find Job Content - */
div#jobList {
  margin-left: 5%;
  margin-right: 5%;
  flex-grow: 1;
}

div#pages {
  text-align: center;
}

div#pages span,
div#pages a {
  padding: 0.1em;
}

div.job {
  border-bottom: 1px solid grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  " a a . . b b"
  " c c c . d d"
  " c c c . n n"
  " c c c . e e"
  " c c c . f f"
  " g g g g . ."
}

div.job span {
  font-style: italic;
  padding-right: 0.2em;
}

div.job a {
  color: var(--black);
}

div.job .title {
  grid-area: a;
  border: var(--color) 2px solid;
  border-radius: 5px;
  padding: 0.5em;
  width: fit-content;
}

div.job .date {
  grid-area: b;
}

div.job .description {
  grid-area: c;
  white-space: break-spaces;
}

div.job .type {
  grid-area: d;
}

div.job .minPay {
  grid-area: e;
}

div.job .Pay {
  grid-area: n;
}

div.job .bids {
  grid-area: f;
}

div.job .tags {
  grid-area: g;
  list-style-type: none;
}

div.job .tags li {
  display: inline-block;
  padding-right: 0.2em;
  padding-left: 0.2em;
}



/* - 7.0 Sidebar for User Profile - */
main#userProfile {  
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

div#sidebar { 
  background-color: var(--subcolor);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  display: inline-block;
  top: 0;
  margin-top : 0px;
  margin-bottom: 5%;
  width: 20%;
}

div#sidebar ul {
  padding-inline-start: 0px;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

div#sidebar ul li{
  list-style-type: none;
}

#sidebar a {
  display: block;
  padding: 1em;
}

#sidebar a:link,
#sidebar a:link span{
  color: var(--content);
}

#sidebar a:visited,
#sidebar a:visited span{
  color: var(--background);
}


#sidebar span {
  color: var(--content);
}

#sidebar .selected {
  background-color: var(--color);
  padding: 1em;
}

#sidebar img.icons{
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}

/* Icona Sidebar */
#sidebarIcon {
  display: block;
  padding : 1em;
  width: 16px;
  height: 16px;
}

a#AdminArea {
  text-align: center;
  display: block;
  font-size: 1.2em;
}

/* - 7.1 Content for User Profile - */
div#content {
  padding: 1em;
}

div#NoUser,
div#NoJob {
  margin: auto;
  text-align: center;
}

div#content div,
div#content table {
  vertical-align: top;
}

/* This 2 elements are used on view pages too */
div#intro,
div#introTags {
  width: 80%;
  margin: auto;
  padding-bottom: 0.2em;
  border-bottom: 2px solid var(--color);
}

div#intro p,
div#introTags {
  text-align: center;
  font-size: 1.2em;
}

div#content table {
  width: 100%;
  margin-bottom: 2em;
}

div#content table caption.description{
  padding: 1em;
  text-align: center;
}

div#content table thead{
  background-color: var(--color);
  color: var(--background);
}

div#content th{
  text-align: left;
}

/* TableJob.html */
div#content th.jobLongTh{
  width: 35%;
}

div#content th.jobMidTh{
  width: 25%;
}

div#content th.jobShortTg{
  width: 15%;
}

/* TableJobWBid.html */
div#content th.bidLongTh{
  width: 40%;
}

div#content th.bidMidTh{
  width: 35%;
}

div#content th.bidShortTh{
  width: 25%;
}

div#content table, 
div#content th, 
div#content td {
  padding: 0.4em;
  border-collapse: collapse;
  border: 1px solid var(--black);
}

div#content p.tableEmpty {
  text-align: center;
}

/* - 7.2 User Profile Welcome Page - */
.welcome {
  text-align: center;
}

/* - 7.3 User Info and Review from User Profile */
div#userinfo,
div#feedbacks {
  display: inline-block;
  padding-top: 1em;
}

div#feedbacks {
  width: 40%;
}

div#feedbacks h1.noReviews {
  font-size: 1.5em;
}

div#userinfo {
  width: 55%;
}

div.headchapter {
  width: 80%;
  padding-bottom: 2em;
  border-bottom: 2px solid var(--color);
  margin-right: 20%;
}

main#viewUser div.headchapter {
  width: 100%;
  padding-bottom: 2em;
  border-bottom: 2px solid var(--color);
}

h1.chapter {
  display:inline;
  font-size: 1.5em;
}

div.review {
  margin: 3%;
  display: flex;
  flex-direction: column;
}

h2.reviewTitle {
  font-size: 1.1em;
}

main img#icon {
  width:60px;
  height:60px;
  float:left;
  padding-right: 1.5em;
}

img.icons {
  width: 24px;
  height: 24px;
  display: inline-block;
  padding: 0.2em;
}

div.bid img.icons {
  width: 20%;
  height: 20%;
}

div.bidData {
  display: inline-block;
  margin-left: 5%;
}

.review .star,
.review .date {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

.review .comment {
  width: 60%;
  padding: 0.5em;
  border-bottom: 1px solid;
}

/* - 7.5 User Profile Setting Page - */
form#settings,
form#changeTags {
  width: 100%;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}

form#settings fieldset{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-template: 
  " f f f f"
  " a b c c"
  " d e c c"
  " h i j k"
  " l m n o"
  " p q r s"
  " t u v w" 
  " x y y y"
  " . z z .";
  row-gap: 1em;
}

form#settings fieldset input,
form#settings fieldset textarea{
  margin-left: 10%;
  margin-right: 10%;
  width: 70%;
}

form#settings fieldset  
{
  width: fit-content;
}


form#settings #labelUsername {
  grid-area: a;
}

form#settings #Username {
  grid-area: b;
}

form#settings #ProfilePic {
  grid-area: c;
}

form#settings #labelName {
  grid-area: d;
}

form#settings #Name {
  grid-area: e;  
}

form#settings #labelSurname {
  grid-area: h;
}

form#settings #Surname {
  grid-area: i;  
}

form#settings #labelEmail {
  grid-area: j;
}

form#settings #Email {
  grid-area: k;
}

form#settings #labelBirth {
  grid-area: l;
}

form#settings #Birth {
  grid-area: m;
}

form#settings #labelTel {
  grid-area: n;
}

form#settings #Tel {
  grid-area: o;
}

form#settings #labelNationality {
  grid-area: p;
}

form#settings #Nationality {
  grid-area: q;
}

form#settings #labelAddress {
  grid-area: r;
}

form#settings #Address {
  grid-area: s;
}

form#settings #labelCity {
  grid-area: t;
}

form#settings #City{
  grid-area: u;
}

form#settings #labelCurr {
  grid-area: v;
}

form#settings #Curr{
  grid-area: w;
}

form#settings #labelDesc {
  grid-area: x;
}

form#settings #Description {
  grid-area: y;
}

form#settings #submit {
  grid-area: z;
  margin:auto;
  width: 50%;
}

form#settings #introduction {
  grid-area: f;
}

div#errorList {
  text-align: center;
  padding: 1em;
  width: 50%;
  margin: auto;
}

div#errorList h1{
  font-size: 1.2em;
}

div#errorList p {
  padding: 0.2em;
}

form#changeTags fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.3em;
  
}

/* - 8.0 View Job Info & Feedback - */
div#JobInfo {
  margin:auto;
  margin-top : 1em;
  width: 60%;
  overflow:hidden;
  border-radius: 10px 10px 0 0;

  display: grid;
  row-gap: 1.2em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  " t t "
  " a b "
  " c d "
  " e . "
  " n o "
  " . l "
  " f f "
  " g h "
  " r s "
  " i i ";
}

div#JobInfo p,
div#JobInfo a{
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin: 0%;
}

div#JobInfo h1 {
  background-color: var(--color);
  color: var(--background);
  margin-block-start: auto;
  margin-block-end: auto;
  text-align: center;
  grid-area: t;
}

div#JobInfo span {
  font-style: italic;
  padding-right: 0.3em;
}

div#JobInfo #status {
  grid-area: a; 
}

div#JobInfo #type {
  grid-area: b; 
}

div#JobInfo #date {
  grid-area: c; 
}

div#JobInfo #expiration {
  grid-area: d; 
}

div#JobInfo #pay {
  grid-area: e; 
}

input#Pay1,
input#Pay2,
#labelPay1,
#labelPay2{
  display: inline-block;
}

div#JobInfo #desc {
  grid-area: f; 
}

div#JobInfo #offerCreator {
  grid-area: l;
}

/* winner e creator per oldJob, cancel e terminate per Offer */
div#JobInfo #cancel {
  grid-area: g; 
}

div#JobInfo #creator {
  grid-area: s; 
}

div#JobInfo #minPay {
  grid-area: n; 
}

div#JobInfo #maxPay {
  grid-area: o; 
}

div#JobInfo #terminate {
  grid-area: h; 
}

div#JobInfo #winner {
  grid-area: r; 
}

div#JobInfo #tags {
  grid-area: i; 
}

div#JobInfo #tags ul{
  list-style-type: none;
}

div#JobInfo #tags ul li{
  display: inline-block;
}

p#description{
  white-space: break-spaces;
}

div#JobInfo p#description{
  padding : 0.5em;
  word-break: break-all;
  border: 3px solid var(--black);
  border-radius: 0 0 5px 0;
  margin-right: 1em;
  margin-left: 1em;
}

span#description{
  white-space: break-spaces;
}

div#feedback {
  border-radius: 0 0 10px 10px;
  border-top: 0px;
  width : 60%;
  margin : auto;
}

div#feedback p {
  padding-left : 1.4em;
}

div#feedback h1 {
  padding-left: 2em;
  font-size: 1.2em;
}

div#feedback .reviewUser,
div#feedback .rating,
div#feedback .date
{
  padding-top: 0.2em;
  display: inline-block;
  margin-block-start: auto;
  margin-block-end: auto;
}

div#feedback span {
  font-style: italic;
  padding-right: 0.3em;
}

div#feedback .reviewUser {
  background-color: var(--color);
  color: var(--background);
  padding-right: 1.5em;
  border-radius: 0 0 10px 0;
}

div#feedback .rating {
  margin-right: 10%;
}

div#feedback .date {
  margin-right: 10%;
}
/*
div#feedback .comment p{
  
}
*/
div#feedback p#feedbackDesc{
  margin: 1em;
}

form#AddFeedback {
  margin: auto;
  margin-top: 1em;
  width: 60%;
}

form#AddFeedback fieldset {
  border-radius: 0 0 10px 10px;
  border: 2px solid;
}

form#AddFeedback button {
  display: block;
}

label.labelStar {
  display: inline-block;
}

input.radio {
  display:inline;
}

input.stars {
  display: inline;
}

#ChooseWinner {
  padding-top: 1em;
  width: 60%;
  margin: auto;
}

#ChooseWinner input[type=radio] {
  display: inline-block;
}

/* - 8.1 View Offer - */
div#bids {
  width: 60%;
  margin: auto;
  margin-top: 1em;
  border-radius: 0 0 10px 10px;
  border: 2px var(--black) solid;
  box-shadow: 0 0 10px #999;
}

div#bids p.error{
  text-align:center;
}

div.bid {
  margin: 1em;
  border-bottom: 1px solid var(--subcolor)
}

div.bid span {
  font-style: italic;
  padding-right: 0.3em;
}

form#addBid {
  width: 40%;
  margin: auto;
  margin-top: 1em;
}

form#addBid button{
  display: block;
}

/* - 9.0 Index - */
main#Home {
  margin: auto;
  width: 90%;
  margin-bottom: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  " a b "
  " a s "
  " c d "
  " t d "
  " e e ";
}

main#Home img{
  width: 90%;
  padding: 5%;
}

img#firstImg {
  grid-area: a;
  padding: 1em;
}

div#Intro {
  grid-area: b;
}

div#Account {
  grid-area: s;
}

div#Function {
  grid-area: c;
}

div#UserProf {
  grid-area: t;
}

img#secondImg {
  grid-area: d;
}

div#popularJobs {
  grid-area: e;
}

ul#popularJobsList {
  background: var(--subcolor);
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  border: 2px solid var(--background);
}

ul#popularJobsList li {
  list-style-type: none;
  text-align: center;
  flex-basis: 20%;
  margin: 1em;
  padding: 1em;
  background: var(--background);
}

h1.index {
  text-align:left;
  padding-left : 2em;
  font-size: 1.375em;
}

h2.index {
  text-align:left;
  padding-left: 1.75em;
  font-size: 1em;
}

p.subIndex {
  text-align:left;
  padding-left: 1.5em;
  width: 90%;
}

/* -10.0 View User - */
main#viewUser {
  vertical-align: top;
  padding: 1em;
}

div#viewUserInfo,
div#viewUserFeedBack {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
}

div#viewUserInfo {
  width: 45%;
}

div#viewUserInfo span,
div#viewUserFeedBack span{
  font-style: italic;
  padding-right: 0.3em;
}

div#viewUserFeedBack {
  width: 40%;
}

main#viewUser h2{
  font-size: 1.2em;
}

/* form per ban utenti dell'Admin*/
form#banUser {
  width: 60%;
  margin: auto;
  padding: 1em;
  margin-bottom: 1em;
}

form#banUser button{
  display: block;
}

/* -11.0 Hidden Help - */
.hiddenHelp {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* -12.0 Admin - */
table.AdminTable {
  border: 1px solid var(--black);
  border-collapse: separate;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
}

table.AdminTable th,
table.AdminTable td {
  text-align: start;
}

table.AdminTable .doubleCol {
  width: 50%;
}

input#search {
  width: 30%; 
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}


/* BreakPoint aggiuntivi per Migliorare l'esperienza */

@media only screen and (max-width: 959px) {
  body {
    font-size: 0.9em;
  }
  /* - 2.1 Header Elements h1, ul, li - */
  header img#Logo {
    display: block;
    width: 20%;
    height: 20%;  
  }

  /* - 4.0 Footer - */
  footer#footer {   
    min-height: fit-content;
  }

  /* - 5.1 Login Input Form - */
  form#login {
    width: 30%;
    margin-top: 15%;
  } 

  /* - 6.0 Filter for Page Find Job - */
  form#formFilter {
    flex-basis: 45%;
  }
  
  form#formFilter fieldset {
    grid-template-areas:
  " a "
  " b "
  " j "
  " c "
  " d "
  " e "
  " f "
  " s "
  " s "
  " s "
  " s "
  " g ";
  }

  form#formFilter #Tipology,
  form#formFilter #Date,
  form#formFilter #PayMin {
    margin:0%;
    
    max-width: 100%;
  }
  
  /* - 7.0 Sidebar for User Profile - */
  div#sidebar { 
    width: 18%;
  }

  span.sidebarText{
    font-size: 0.875em;   
    display: block;
  }
  
  /* temp userinfo */
  div#userInfo {
    padding-top: 1em;
  }
  
  div#userFeedback {
    width: 30%;
    padding-top: 1em;
  }

}